* {
  font-family: 'Poppins', sans-serif;
}

.gray {
  color: gray;
}

.slateblue {
  color: slateblue;
}

.slateblue-bg {
  background-color: slateblue;
}


/* Navbar Designs */
.nav-links a {
  text-decoration: none;
  color: rgb(102, 102, 102);
  font-size: 20px;
  margin-left: 8px;
  margin-right: 8px;
}

.nav-links a:hover {
  color: slateblue;
}

.nav-links a:focus {
  color: black;
}

/* Navbar Design Ends */

/* Header designs start */
.header-texts p {
  margin-bottom: 30px;
  text-align: center;
}

.my-name {
  font-size: 45px;
  color: slateblue;
}

/* Header designs end */